* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-exemplo, .bg-outro-exemplo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16pt;
    height: 400px;
}

.bg-exemplo {
    color: #FFF;
}

.bg-outro-exemplo {
    color: #000;
}

.bg-exemplo {
    background: url("../img/bg.jpeg") no-repeat center;
    background-size: cover;
}